@import url("https://fonts.googleapis.com/css?family=Lato:100");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.grid-content {
  display: grid;
  grid-template-columns: 28% 0.5% 31.5% 0.5% 39.5%;
}

.logo {
  width: 40px;
  margin-top: 10px;
}

.grid-title {
  display: grid;
  grid-template-columns: 82% 6% 6% 6%;
}

.inactive {
  display: none;
}

.btn {
  height: 60px;
  width: 200px;
  padding: 2px;
  background-color: white;
  color: var(--primary-font-colour);
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Source Code Pro", monospace;
  border-radius: 10px;
}
.title i:hover {
  color: var(--secondary-font-color);
}
/*---------------------------------------------------COMPONENTS-----------------------------------------------------------------------------------------*/
.gutter {
  background-color: var(--borders-color);
  width: 10px;
}
.title {
  background-color: var(--primary-color);
  height: 50px;
  color: var(--primary-font-colour);
  font-size: 1.3rem;
  border: 0.5px var(--borders-color) solid;
  padding: 10px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
}
.functions {
  border: 0.5px var(--borders-color) solid;
  font-family: var(--secondary-font-family);
  background-color: var(--tertiary-color);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  padding: 10px;
  height: 70px;
  align-items: center;
  cursor: grab;
}

.functions:hover {
  background-color: var(--primary-color);
}
.functions p:hover {
  border-bottom: 1px solid var(--secondary-font-color);
}
.functions p {
  text-decoration: none;
  color: var(--secondary-font-color);
}

.search-functions {
  border: 0.5px var(--borders-color) solid;
  font-family: var(--secondary-font-family);
  background-color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  padding: 10px;
  height: 60px;
  width: 300px;
  align-items: center;
}
.search-functions:hover {
  background-color: var(--primary-color);
}
.search-functions p:hover {
  border-bottom: 1px solid var(--secondary-font-color);
}
.search-functions p {
  text-decoration: none;
  color: var(--secondary-font-color);
}

.text-area {
  height: 500px;
  margin: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: var(--secondary-color);
  width: 100%;
  font-size: 1.1rem;
  font-weight: var(--primary-font-weight);
  color: var(--secondary-font-color);
  font-family: "Source Code Pro", monospace;
}

#IO .text-area {
  height: 100%;
  margin: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: var(--secondary-color);
  width: 100%;
  font-size: 1.1rem;
  font-weight: var(--primary-font-weight);
  color: var(--secondary-font-color);
  font-family: "Source Code Pro", monospace;
}
.controls {
  background-color: var(--primary-color);
  border: 0.5px var(--borders-color) solid;
  padding: 10px;
  align-items: center;
}
/* -------------------------- SPECIFIC ----------------------*/
#operations {
  height: 90vh;
  background-color: var(--borders-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
#IO {
  height: 90vh;
}
#recipe {
  height: 90vh;
}

#search {
  height: 100%;
  width: 100%;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
.nav-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.site-title {
  width: 50%;
  height: 100%;
  align-items: center;
  margin: auto;
  font-family: var(--primary-font-family);
}
.site-title {
  animation: fade-in-bottom-right 2s;
}
.site-title a {
  color: var(--primary-font-colour);
}
.site-title {
  color: white;
}
.site-title h1 {
  animation: flash 4s infinite;
  margin: 13px;
}
nav {
  height: 60px;
  background: var(--nav-color);
}
.nav-links {
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: auto;
  list-style: none;
}
.nav-links a {
  font-family: "Source Code Pro", monospace;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  border-bottom: 1px solid white;
}

@keyframes fade-in-bottom-right {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
